.about-content {
  align-items: center;
}

.image-text {
  display: block;
  font-style: italic;
  line-height: $font-line-height-normal;
  font-size: $font-size-small;
  margin-top: 10px;
}

.icecream {
  color: lighten($primary-blue, 20%);
}
