.btn {
  font-size: $font-size-small;
  letter-spacing: $letter-spacing-medium;
  font-weight: $font-weight-semi-bold;
  transition: $transition;
  cursor: pointer;
  padding: 12px 18px;
  margin: 0;
  border: none;
  min-width: 160px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 5px;

  .download {
    margin-right: 15px;
  }

  .chevron-right {
    margin-left: 15px;
  }

  @media (min-width: $screen-sm) {
    width: auto;
    margin: 0 5px;
  }
}

.btn-primary {
  background-color: $primary-green;

  &:hover {
    background-color: darken($primary-green, 10%);
  }
}

.btn-secondary {
  background-color: #eee;
  color: $primary-blue;

  &:hover {
    background-color: darken(#eee, 5%);
    color: darken($primary-blue, 10%);
  }
}
