.btn {
  font-size: $font-size-small;
  letter-spacing: $letter-spacing-medium;
  font-weight: $font-weight-semi-bold;
  transition: $transition;
  cursor: pointer;
  padding: 12px 18px;
  margin: 0;
  border: none;
  min-width: 160px;
  width: 100%;
  border-radius: 3px;
  text-transform: uppercase;
  margin: 5px;

  &:focus,
  &:active {
    border: none;
    box-shadow: none !important;
  }

  .download {
    margin-right: 15px;
  }

  .chevron-right {
    margin-left: 15px;
  }

  @media (min-width: $screen-sm) {
    width: auto;
    margin: 0 5px;
  }
}

.btn-primary {
  background-color: $primary-green;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($primary-green, 10%) !important;
  }
}

.btn-secondary {
  background-color: inherit;
  border: 1px solid #ddd;
  color: $primary-blue;

  &:hover,
  &:active,
  &:focus {
    background-color: darken(#eee, 10%) !important;
    border: 1px solid darken(#eee, 10%) !important;
    color: darken($primary-blue, 10%) !important;
  }
}
