.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;

  @media (min-width: $screen-lg) {
    height: 70px;
  }

  .navbar-brand {
    font-family: $font-serif;
    font-size: $font-size-large;
    color: $primary;
    font-weight: $font-weight-semi-bold;
    opacity: 0.5;
    transition: $transition;

    &:hover {
      color: $primary;
      opacity: 1;
      text-decoration: none;
    }
  }

  .navbar-nav {
    align-items: center;

    .nav-link {
      color: lighten($primary-blue, 20%);
      font-weight: 600;
      padding: 0 10px;
      margin: 0 5px;
      letter-spacing: $letter-spacing-medium;
      transition: $transition;
      font-size: $font-size-small;

      &:hover {
        color: $primary-blue;
        text-decoration: none;
      }
    }

    .navbar-icon {
      font-size: $font-size-medium;
      margin: 0;
    }

    :last-child {
      padding-right: 0;
      margin-right: 0;
    }
  }
}
