.landing {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 100px);

  .logotype-w {
    font-family: $font-serif;
    color: $primary-green;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 180px;
    line-height: 160px;
    opacity: 0.15;
    margin: 0;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      font-size: 260px;
      line-height: 200px;
    }
  }

  .hero {
    padding-top: 160px;
    text-align: center;

    @media (min-width: $screen-sm) {
      padding-top: 180px;
    }

    .hero-name {
      font-size: $font-size-medium;
      font-family: $font-sans-serif;
      letter-spacing: $letter-spacing-xlarge;
      color: $primary-blue;
      text-transform: uppercase;
    }
    .hero-description {
      font-family: $font-serif;
      font-size: $font-size-large;
      line-height: $font-line-height-large;
      color: $primary-blue;
      margin: 100px auto 50px;
      font-weight: 300;

      @media (min-width: $screen-sm) {
        font-size: $font-size-xlarge;
        line-height: $font-line-height-xlarge;
      }
    }
  }
  .round {
    background-color: #fff;
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 120%;
    height: 0px;
    margin: 0 auto;
    border-radius: 35%;
    padding-top: 160px;

    @media (min-width: $screen-sm) {
      border-radius: 70%;
    }
  }
}
