.landing {
  display: flex;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 100px);
  justify-content: center;
  align-content: center;
  align-items: center;

  .hero {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;

    .logotype-w {
      font-family: $font-serif;
      color: $primary;
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 180px;
      line-height: 160px;
      opacity: 0.15;
      margin: 0;
      overflow: hidden;
      font-weight: 300;

      @media (min-width: $screen-sm) {
        font-size: 260px;
        line-height: 200px;
        top: -80px;
      }
    }

    .hero-name {
      font-size: $font-size-medium;
      font-family: $font-sans-serif;
      letter-spacing: $letter-spacing-xlarge;
      color: $primary-blue;
      text-transform: uppercase;
      border: 10px solid #f5f6f8;
      z-index: 1;
      background-color: #f5f6f8;
      margin-top: -10px;
      box-shadow: 0px 0px 20px 10px #f5f6f8;
      font-weight: 800;
      letter-spacing: 6px;
    }
    .hero-description {
      font-family: $font-serif;
      font-size: $font-size-large;
      line-height: $font-line-height-large;
      color: $primary-blue;
      margin: 100px auto 50px;
      font-weight: 300;

      @media (min-width: $screen-sm) {
        font-size: $font-size-xlarge;
        line-height: $font-line-height-xlarge;
      }
    }
  }
}
