.bm-cross-button {
  button {
    display: none;
  }
}

.BurgerBox {
  margin-bottom: -2px !important;
}

.sidebar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f6f9fa;
  padding: 50px 10px;
  z-index: 900 !important;
  overflow: hidden;
  height: calc(100vh - 50px);
  transition: all 0.75s !important;
  opacity: 1;

  @media (min-width: $screen-lg) {
    top: 80px;
  }

  a {
    font-family: $font-serif;
    font-size: $font-size-large;
    padding: 10px;
    color: $primary-blue;
  }
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
@media (min-width: $screen-lg) {
  .burger-container {
    display: none;
  }
}
