.model-open {
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.modal-dialog {
  @media (max-width: $screen-sm) {
    margin: 1rem 0.5rem;
  }

  @media (min-width: $screen-md) {
    max-width: 650px;
  }

  .modal-header {
    background: rgba($primary-blue, 0.075);
    .modal-title.h4 {
      @extend h3;
      margin-bottom: 0;
      line-height: 1.5rem;
    }

    .close {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5rem;
      color: $primary-blue;
      opacity: 0.5;
      transition: $transition;

      &:hover {
        color: $primary-blue;
        opacity: 1 !important;
        transition: $transition;
      }
    }
  }

  .modal-content {
    border: none;
    border-radius: 2px;

    .company-brief {
      text-align: center;

      p {
        font-family: $font-serif;
      }
    }
    .company-work {
      p,
      li {
        font-family: $font-sans-serif;
        font-size: $font-size-normal;
        line-height: $font-line-height-medium;
        font-weight: 400;
        letter-spacing: 0;
      }
      li {
        margin-bottom: 5px;
      }
    }

    .modal-screenshot {
      margin: 60px auto 20px;
      padding: 0 1rem;
    }

    .modal-footer {
      background: rgba($primary-blue, 0.075);
      flex-direction: column;
      align-items: flex-start;
      border-top: 1px solid #dee2e6;
      padding: 1.5rem 1rem;
      ul {
        padding-left: 20px;
        margin-bottom: 0;
      }
    }
  }
}
