//Colours
$primary-green: #52a996;
$primary-blue: #5f6d7e;
$base-text: #333;
$green-bg: #f6f9fa;

// Font
$font-serif: 'Taviraj', Arial, Helvetica, sans-serif;
$font-sans-serif: 'Raleway', Arial, Helvetica, sans-serif;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 20px;
$font-size-large: 30px;
$font-size-xlarge: 50px;
$font-line-height-normal: 20px;
$font-line-height-medium: 26px;
$font-line-height-large: 36px;
$font-line-height-xlarge: 50px;
$font-weight-normal: 200;
$font-weight-semi-bold: 600;
$font-weight-bold: 800;

$transition: all 0.2s;
$transition-medium: all 1s;
$transition-long: all 4s;

$letter-spacing-small: 0.5px;
$letter-spacing-medium: 1px;
$letter-spacing-large: 2px;
$letter-spacing-xlarge: 3px;

// Media Queries
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
